@tailwind base;
@tailwind components;
@tailwind utilities;

/* .main-div{
  width: 100%;
  height: 100vh;
  background-image: url('img/background-image.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
} */
 /*.active{
  padding: 0.75rem 1.5rem; 
  border-style: solid; 
  border-width: 2px; 
  border-color: #ecc94b; 
  color: #4a5568; 
  border-radius: 9999px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease; 
  margin-top: 2.5rem; 
  width: 20%; 
  
 }
 .active:hover{
  background-color: #ecc94b;
  color: #fff;
 } */